<div class="ui page" ng-controller="MainController as ctrl">
    <!-- First section - begin -->
    <section class="initial">
        <div class="ui container">
            <div class="ui two column centered stackable grid headline">
                <div class="sixteen wide center aligned column">
                    <h1>ECONOMIZE.</h1>
                </div>
                <div class="sixteen wide center aligned column">
                    <h2>Aproveite centenas de promoções diariamente compartilhadas por usuários como <strong>você</strong>.</h2>
                </div>
            </div>
            <div class ="ui centered stackable grid">
                <div class="center aligned column">
                    <div class="ui basic large button">
                        Como funciona
                    </div>
                    <a class="ui purple large button" ng-href="#/promocoes">
                        <i class="icon search"></i>
                        Ver Promoções
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- First section - end -->
    
    <!--Second section - begin -->
    <section class="ui container second">
        <!--<div class="ui container">-->
            <div class="ui two column stackable grid">                
                <div class="nine wide column">
                    <div class="ui two column grid">
                        <div class="column">
                            <img class="ui image" src="assets/img/section-images/left-image.jpg">
                        </div>    
                        <div class="column">
                            <div class="ui two column grid">
                                <div class="sixteen wide column">
                                    <img class="ui top aligned image" src="assets/img/section-images/snickers.jpg">
                                </div>
                                <div class="sixteen wide column c_bottom">
                                    <img class="ui bottom aligned image" src="assets/img/section-images/smartphone.jpg">
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>

                <div class="seven wide column">
                    <div class="ui two column centered grid">
                        <div class="sixteen wide center aligned column">
                            <h3>Encontre promoções de verdade.</h3>
                            
                            <p>
                                Agora você pode aproveitar as melhores promoções da web
                                de onde e quando quiser. Acredite! Nós temos as melhores
                                promoções para o que você precisa. Aproveite! É grátis!
                            </p>
                        </div>
                        <div class="sixteen wide left aligned column">
                            <a class="ui green large button" ng-href="#/promocoes">
                                Ver Promoções
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </section>
</div>