<div class="ui page" ng-controller="MainController as ctrl">
    <!-- First section - begin -->
    <section class="initial">
        <div class="parent active">
            <i class="livicon" data-name="check-circle-alt" data-color="blue"></i>
        </div>
        <div class="ui container">
            <div class="ui column centered grid headline">
                <div class="center aligned column">
                    <!--<h2>O que faltava para você acertar nas suas compras? <strong>Tome Descontos!</strong></h2>-->
                    <h2>ECONOMIZE</h2>
                    <h4>Aproveite centenas de promoções diariamente compartilhadas por usuários como <strong>você</strong>.</h4>
                </div>
            </div>
            <div class ="ui two column centered grid">
                <div class="center aligned column">\
                    <div class="ui basic large button">
                        Como funciona
                    </div>
                    <a class="ui teal basic large button" ng-href="#/promocoes">
                        <i class="icon search"></i>
                        Ver Promoções
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- First section - end -->
    
    <!-- Second section - begin -->
    <section class="second">
        <div class="ui container">
            <div class="ui column centered grid">
                <div class="center aligned column">
                    <i class="livicon activeicon" data-name="check-circle-alt" data-color="blue"></i>
                </div>
            </div>
            <div class="ui two column centered grid">
                <div class="ten wide column">
                    
                </div>
                <div class="six wide column">
                    e aqui a descricao!
                </div>
            </div>
        </div>
    </section>
</div>