<div class="ui container page" ng-controller="PromoController as promoCtrl">
    <div class="ui column centered grid">
        <div class="left floated stackable eleven wide column">
            <div class="ui divided items">
                <div class="item" ng-repeat="promo in promoCtrl.promotions | filter:title">
                    <div class="image">
                        <img ng-src="{{promo.img !== 'null' && promo.img || 'assets/img/rocket.svg'}}">
                    </div>
                    <div class="content">
                        <a class="header" href="{{promo.url}}" target="_blank">{{promo.title}}</a>
                        <div class="meta">
                            <span class="cinema">
                                <time am-time-ago="promo.date"></time>
                            </span>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                        <div class="extra">
                            <a class="ui right floated primary button" target="_blank" href="{{promo.url}}">
                                Ver Detalhes
                                <i class="right chevron icon"></i>
                            </a>
                            <div class="ui label">Limited</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>