$primary-color: #7F176B;
$white: #fff;

label{ color: $white !important;}
.large.menu {
    z-index: 9999 !important;
}

.options {
    padding-top: 5em;
}

.options .search.icon {
    color: $white !important;
}

.grid.products {
    padding-top: 8em;
}

