$primary-color: #5b4282;
$white: #fff;

label{ color: $white !important;}
.large.menu {
    z-index: 9999 !important;
}

.ui.form {
    margin-top: .95em;
    .find{
        label{
            @extend label;
            font-size: 1.3em;
            padding-bottom: 0.45em;
        } 
    }
}

.options {
    padding-top: 5em;
    background-color: rgba(57, 64, 74, 0.85) !important;
}

.options .search.icon {
    color: $white !important;
}

.grid.products {
    padding-top: 8em;
}

